* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("login.jpg"), #000;
  background-size: cover;
  background-position: center;
}

.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2); /* Transparent background */
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Darker shadow for contrast */
  backdrop-filter: blur(10px); /* Optional: adds a blur effect behind the form */
}

.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #090707;
}

.wrapper h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  /* background-color: black; Underline color */
}

.wrapper form {
  margin-top: 30px;
}

.wrapper form .input-box {
  height: 52px;
  margin: 18px 0;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: black;
   border: 1.5px solid #C7BEBE; 
  border-bottom-width: 2.5px;
   border-radius: 6px; 
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: black;
}

form .policy {
  display: flex;
  align-items: center;
}

form h3 {
  color: black;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input {
  width: 100%;
  height: 45px;
   background: #fff; 
  border: none;
  outline: none;
  border-radius: 40px;
   border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: all 0.3s ease;
}

.input-box.button input:hover {
  background-color: #f0f0f0; /* Subtle hover effect */
}

form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}

.link a{
  display: flex;
  font-size: 20px;
  justify-content: center;
  color:black;
}
.link p{
  display: flex;
  font-size: 20px;
  justify-content: center;
  color:black;
}